html {
  font-size: 0.8rem;
}

body {
  padding: 0 8px;
}

#form-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#form-wrapper > div {
margin-bottom: 0 !important;
}

.dataTables_wrapper {
  margin-bottom: 16px;
}

th {
  text-align: center !important;
}

td {
  word-wrap: break-word;
  vertical-align: middle !important;
  text-align: center !important;
}

td:nth-child(2) {
  text-align: initial !important;
}

td:nth-child(3),
td:nth-child(6) {
  white-space: nowrap;
}

.row {
  margin: 0 !important;
}
