body {
    padding: 1%;
    color: #4d4d4d;
}
#results {
    color: #f4511e;
}

.jquery-test p {
    color: #0288d1;
}

#btn:hover {
    text-decoration: none;
}

.btn-form {
    border: none;
    color: #333333;
    font-size: 14px;
    background: #e6e6e6;
    padding: 5px 10px;
    text-decoration: none;
}

.btn-search {
    background: #0288d1;
    background-image: linear-gradient(to bottom, #0288d1, #0277bd);
    border-radius: 4px;
    text-shadow: 1px 1px 3px #666666;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 12px;
    border: solid #0277bd 2px;
    text-decoration: none;
}

form {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 35px;
    /* This bit draws the box around it */
    border:1px solid #e6e6e6;
    /* padding: 2px; */
}

input {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
    padding-left: 4px;
}
input:focus {
    outline: none;
    box-shadow: inset 0 0 4px #b3b3b3;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}