[Desktop Entry]
Name=STorrent
Comment=Electron multi-platform desktop app
GenericName=Search for torrents with multiple providers
Exec=storrent %U
Icon=/usr/lib/storrent/resources/app/icons/png/256.png
Type=Application
StartupNotify=true
Categories=Qt;Utility;

